body{
    background-color: lightgrey;
    margin:0px;
}

button {
    border-radius: 3px;
    border-style: solid;
    background-color: white;
}

#editable-editor {
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;

}

#editable-document{
    background-color: white;
    margin: 5px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    font-family: "Lucida Console", monospace;
    float: left;
    width: 40%;
    overflow: hidden;
}

#chat{
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    font-family: "sans-serif", monospace;
    float: left;
    width: 40%;
    overflow: hidden;
    position:absolute;
    bottom: 0;
}

#viewable-document{
    margin-left: 5px;
    background-color: white;
    margin: 5px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    width: 40%;
    overflow: hidden;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
#close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-button:hover,
#close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#widget-url-input{
    width: 100%;
    font-family: "Lucida Console", monospace;
}